<!-- header -->
<div class="container-fluid bg-secondary py-3 d-flex w-100 justify-content-between">
  <span class="ml-4 text-light font-small text-left">
    <i class="material-icons">video_library</i>
    Video Course
  </span>
  <span class="mr-4 text-light font-small text-right">
    <i class="material-icons">account_circle</i>
    &nbsp;
    {{ currentUser | async | getFullName }}
    &nbsp;
    <a (click)="logOut()">
      <i class="material-icons">exit_to_app</i>
      Log Off
    </a>
  </span>
</div>
<!-- header -->
