<nav class="navbar navbar-expand-lg px-0">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">      
    <span class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchCriteria">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="search()">Search</button>
    </span>      
  </div>
  <button class="btn btn-outline-info my-2 my-sm-0 float-right" type="submit">+ Add course</button>
</nav>